<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Notion internal integration demo</h1>
    </header>

    <main>
      <h2>Goals</h2>
      <p>
        Retrieve data from your Notion database.
      </p>
      <div class="container">
        <div class="form-group">
          <h3>Select a database</h3>
          <form id="databaseForm">
            <div class="form-item">
              <label for="dbName">Database name</label>
              <select id="dbName">
                <option value="Vocabulary">Vocabulary</option>
                <option value="MethodsWebDev">Methods: Web Dev</option>
                <option value="MethodsPython">Methods: Python</option>
              </select>
            </div>
            <div class="form-item">
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>

        <div class="form-group">
          <form id="databaseTest">
            <div class="form-item">
              <label for="databaseId">Database ID</label>
              <input type="text" id="databaseId" />
            </div>
            <div class="form-item">
              <label for="testQuery">Test query</label>
              <select id="testQuery">
                <option value="getPages">Get pages</option>
                <option value="getPageFromId">Get page from ID</option>
                <option value="getDatabase">Get database info</option>
              </select>
            </div>
            <div class="form-item">
              <label for="testFilter">Filter (must be in JSON) (enter page ID if Get page from ID was selected)</label>
              <textarea id="testFilter" rows="5"></textarea>
            </div>
            <div class="form-item">
              <input type="submit" value="Submit" />
            </div>
          </form>
        </div>

        <div class="response-area" id="dbResponse">
          <!-- The database form response will be appended here after submitting it -->
        </div>
      </div>
    </main>
  </body>
</html>